@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #FBBC1A;
  --subPrimary: #f6c404;
  --secondary: #ff0000;
  --subBgColor: #D9D9D9;
  --subLine: #f0f0f0;
  --textColor: #545454;
  --success: #41C54E;
  --bgColor: #999595;
}

.ant-checkbox-inner{
    width: 36px !important;
    height: 36px !important;;
}

.ant-checkbox-inner::after{
  width: 10px !important;
  height: 16px !important;
}

.ant-modal-content{
  background-color: #F5D4D4 !important;
}

@media only screen and (max-width: 768px){
  .ant-checkbox-inner{
    width: 20px !important;
    height: 20px !important;;
  }
  .ant-checkbox-inner::after{
    width: 6px !important;
    height: 12px !important;
  }
}