.wrap{
    background-color: #c4c4c4;
    min-height: 100vh;
}

.row{
    width: 100%;
    height: 100%;
    margin-left: 0 !important;
}

.test{
    padding: 40px 10%;
    
}

.topic{
    padding: 40px 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pageTitle{
    font-size: 32px;
    font-weight: 700;

}

.subTitle{
    font-size: 20px;
    margin-bottom: 40px;
}


.settingItemWrap{
    display: flex;
    align-items: center;
    width: 100%;
}

.settingItem{
    display: flex;
    align-items: center;
    flex: 1;
    margin: 15px 0;
}

.title{
    font-size: 20px;
    font-weight: 700;
    min-width: 180px;
    margin: 0;
    text-align: end;
}

.input{
    height: 52px;
    border: none;
    width: calc(100% - 200px);
    margin-left: 30px;
    border-radius: 4px;
    padding: 8px 10px;
    box-sizing: border-box;
    font-size: 20px;
}

.inputTime{
    height: 52px;
    width: 40%;
}

.select{
    width: 30%;
    height: 52px;
    border-radius: 4px;
    font-size: 20px !important;
    margin-left: 30px;
}

.question{
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.question > div:first-child {
    margin-right: 30px;
}

.tableWrap{
    flex: 1;
    background-color: #fff;
    padding: 12px 30px 32px 30px;
}

.tableTitle{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.table{
    margin: 0 auto;
    width: 100%;
}

th, td {
    font-size: 20px;
    text-align: center;
    
}

tr {
    background-color: #c4c4c4;
}

td{
    font-weight: 500;
    border-right: none;
    border-left: none;
}

.btnWrap{
    text-align: center;
    margin-top: 40px;
}

.btn{
    cursor: pointer;
    height: 61px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
}

@media only screen and (max-width: 992px){
    .test{
        padding: 0 0 20px 0;
        
    }
    .title{
        font-size: 16px;
        min-width: 100px;
        text-align: start;
    }
    .settingItemWrap{
        display: block;
    }
    .input{
        margin-left: 10px;
        width: 100%;
    }
    .select{
        margin-left: 10px;
        width: 100%;
    }

    .question{
        display: block;
        text-align:center;
    }
    .question > div:first-child{
        margin: 10px auto;
    }
    .tableWrap{
        text-align:center;
        margin-bottom: 20px;
    }
    .icon{
        width: 20px !important;
    }
    td, th {
        font-size: 16px;
    }
}